@model IEnumerable<FilmSitesi.Models.Anime>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<a class="btn btn-success" asp-action="AnimeCreate">Create</a>
<div class=card style="width:112%">
    <div class="card-body">
        <table class="table-dark " style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Product)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product.isim)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.isim)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="AnimeEdit" asp-route-id="@item.id">Edit</a> |
                        <a class="btn btn-success" asp-action="ProductDetails" asp-route-id="@item.Product.id">Details</a> |
                        <a class="btn btn-danger" asp-action="AnimeDelete" asp-route-id="@item.id">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
