@model IEnumerable<FilmSitesi.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<a class="btn btn-success" asp-action="ProductCreate">Create</a>
<div class=card style="width:112%">
    <div class="card-body">
        <table class="table-dark " style="width:100%">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.idName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.kategori)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.yapimci)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tarihi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.skor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sure)
                </th>              
                
                <th>
                    @Html.DisplayNameFor(model => model.fragman)
                </th>
                <th>
                    
                </th>

            </tr>


            <tbody class="alert-light table-bordered">
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.idName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.isim)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.kategori)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.yapimci)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tarihi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tur)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.skor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sure)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.fragman)
                        </td>
                        <td><a class="btn btn-success" asp-action="ProductEdit" asp-route-id="@item.id">Edit</a></td>
                        <td><a class="btn btn-primary" asp-action="ProductDetails" asp-route-id="@item.id">Details</a></td>
                        <td><a class="btn btn-danger" asp-action="ProductDelete" asp-route-id="@item.id">Delete</a></td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

