@model IEnumerable<FilmSitesi.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class=card>
        <div class="card-body">            
                <table class="table-dark table-sm">
                    
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.idName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.isim)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.hakkında)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.kategori)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.yapımcı)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tarihi)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tur)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.skor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.süre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.url)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.sliderUrl)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.yanUrl)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.detailUrl)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.fragman)
                        </th>
                        <th></th>
                    </tr>
                      
                            
                    <tbody class="alert-light table-bordered">
                        @foreach (var item in Model)
                        {
                            
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.idName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.isim)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.hakkında)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.kategori)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.yapımcı)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tarihi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tur)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.skor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.süre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.url)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sliderUrl)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.yanUrl)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.detailUrl)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fragman)
                            </td>
                            <td><a class="btn btn-success" asp-action="ProductEdit" asp-route-id="@item.id">Edit</a></td>
                            <td><a class="btn btn-primary" asp-action="ProductDetails" asp-route-id="@item.id">Details</a></td>
                            <td><a class="btn btn-danger" asp-action="ProductDelete" asp-route-id="@item.id">Delete</a></td>

                        </tr>
                        }
                    </tbody>
                </table>
            
        </div>
    </div>

