@model FilmSitesi.Models.AllData
<!-- Anime Section Begin -->
@foreach (var item in Model.Product)
{
<section class="anime-details spad">
    <div class="container">
        <div class="anime__details__content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="anime__details__pic set-bg" data-setbg="@item.detailUrl" style="background-image:url(@item.detailUrl)">
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="anime__details__text">
                        <div class="anime__details__title">
                            <h3>@item.isim</h3>
                        </div>
                        <div class="anime__details__rating">
                            <div class="rating">
                                <a ><i class="fa fa-star"></i></a>
                                <a ><i class="fa fa-star"></i></a>
                                <a ><i class="fa fa-star"></i></a>
                                <a ><i class="fa fa-star"></i></a>
                                <a ><i class="fa fa-star-half-o"></i></a>
                            </div>
                            <span>@item.skor</span>
                        </div>
                        <p>@item.hakkinda</p>
                        <div class="anime__details__widget">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Kategori:</span>@item.kategori</li>
                                        <li><span>Yapımcı Şirket:</span>@item.yapimci</li>
                                        <li><span>Yayım Tarihi:</span>@item.tarihi</li>
                                        <li><span>Tür:</span>@item.tur</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Skor:</span>@item.skor</li>
                                        <li><span>Süre:</span>@item.sure</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="anime__details__btn">
                            <a href="@item.fragman" target="_blank" class="watch-btn">
                                <span>Fragmanı İzle</span> <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="anime__details__review">
                    <div class="section-title">
                        <h5>Yorumlar</h5>
                    </div>
                    @foreach (var items in Model.Yorum)
                    {
                        <div class="anime__review__item">
                            <div class="anime__review__item__text">
                                <h6>
                                    @items.User.isim - (@items.User.UserName)
                                    @if (User.Identity.IsAuthenticated && items.User.Email == User.Identity.Name || User.IsInRole("Admin"))
                                    {
                                        <a asp-controller="Home" asp-action="YorumDelete" asp-route-id="@items.id">Yorumu Sil </a>
                                
                                    }
                                    </h6>
                                <p>
                                    @items.icerik
                                </p>
                            </div>
                        </div>
                    }
                </div>
                @if(User.Identity.IsAuthenticated)
                {
            <div class="anime__details__form">
                <div class="section-title">
                    <h5>Yorumunuz</h5>
                </div>
                @foreach (var items in Model.User)
                {
                    if (items.UserName == User.Identity.Name)
                    {
                        <form asp-controller="Home" asp-action="Icerik">
                            <div class="form-group">
                                <input asp-for="yorum.userId" value="@items.Id" class="form-control" hidden/>
                                <input asp-for="yorum.productId" value="@item.id" class="form-control" hidden/>
                                <textarea asp-for="yorum.icerik" placeholder="Yorumunuz"></textarea>
                            </div>
                            <button type="submit"><i class="fa fa-location-arrow"></i>Yorum Yap</button>
                        </form>
                    }
                }
            </div>
                }
            </div>
        </div>
    </div>
</section>
}
<!-- Anime Section End -->