@model FilmSitesi.Models.AllData 
@{ 
    int yorumSayac = 0;
}
<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            @foreach (var item in Model.Slider)
            {
            <div class="hero__items set-bg" data-setbg="@item.Product.url">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">@item.Product.tur</div>
                            <h2>@item.Product.isim</h2>
                            <p>@item.Product.hakkında</p>
                            <a href="../Home/Icerik?text=@item.Product.idName"><span>Şimdi Oku.</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="popular__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Çok Oylananlar</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="../Oylananlar" class="primary-btn">Hepsini Gör <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @{ 
                            int oysayac = 0;
                        }
                        @foreach (var item in Model.Product)
                        {
                            yorumSayac = 0;
                            foreach (var items in Model.Yorum)
                            {
                                if (items.productId == item.id)
                                {
                                    yorumSayac++;
                                }
                            }
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="@item.url">
                                        <div class="ep">@item.süre</div>
                                        <div class="comment"><i class="fa fa-comments"></i>@yorumSayac</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            @if (item.tur != null)
                                            {
                                                string[] turayir = item.tur.Split(' ');
                                                @foreach (var items in turayir)
                                                {
                                                    <li>@items</li>
                                                }
                                            }
                                        </ul>
                                        <h5><a href="../Home/Icerik?text=@item.idName">@item.isim</a></h5>
                                    </div>
                                </div>
                            </div>
                            oysayac++;
                            if (oysayac == 6) break;
                        }
                    </div>
                </div>
                <div class="recent__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>En Son Çıkan Filmler</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="../Eklenenler/Film" class="primary-btn">Hepsini Gör <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var item in Model.Movies)
                        {
                            yorumSayac = 0;
                            foreach (var items in Model.Yorum)
                            {
                                if (items.productId == item.productId)
                                {
                                    yorumSayac++;
                                }
                            }
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="@item.Product.url">
                                        <div class="ep">@item.Product.süre</div>
                                        <div class="comment"><i class="fa fa-comments"></i>@yorumSayac</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            @if (item.Product.tur != null)
                                            {
                                                string[] turayir = item.Product.tur.Split(' ');
                                                @foreach (var items in turayir)
                                                {
                                                    <li>@items</li>
                                                }
                                            }
                                        </ul>
                                        <h5><a href="../Home/Icerik?text=@item.Product.idName">@item.Product.isim</a></h5>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            <div class="recent__product">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="section-title">
                            <h4>En Son Çıkan Diziler</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="btn__all">
                            <a href="../Eklenenler/Dizi" class="primary-btn">Hepsini Gör <span class="arrow_right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in Model.Series)
                    {
                        yorumSayac = 0;
                        foreach (var items in Model.Yorum)
                        {
                            if (items.productId == item.productId)
                            {
                                yorumSayac++;
                            }
                        }
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="@item.Product.url">
                                    <div class="ep">@item.Product.süre</div>
                                    <div class="comment"><i class="fa fa-comments"></i>@yorumSayac</div>
                                </div>
                                <div class="product__item__text">
                                    <ul>
                                        @if (item.Product.tur != null)
                                        {
                                            string[] turayir = item.Product.tur.Split(' ');
                                            @foreach (var items in turayir)
                                            {
                                                <li>@items</li>
                                            }
                                        }
                                    </ul>
                                    <h5><a href="../Home/Icerik?text=@item.Product.idName">@item.Product.isim</a></h5>
                                </div>
                            </div>
                        </div>
                    }
                    </div>
            </div>

            <div class="recent__product">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="section-title">
                            <h4>En Son Çıkan Animeler</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="btn__all">
                            <a href="../Eklenenler/Anime" class="primary-btn">Hepsini Gör <span class="arrow_right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in Model.Anime)
                    {
                        yorumSayac = 0;
                        foreach (var items in Model.Yorum)
                        {
                            if (items.productId == item.productId)
                            {
                                yorumSayac++;
                            }
                        }
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="@item.Product.url">
                                    <div class="ep">@item.Product.süre</div>
                                    <div class="comment"><i class="fa fa-comments"></i>@yorumSayac</div>
                                </div>
                                <div class="product__item__text">
                                    <ul>
                                        @if (item.Product.tur != null)
                                        {
                                            string[] turayir = item.Product.tur.Split(' ');
                                            @foreach (var items in turayir)
                                            {
                                                <li>@items</li>
                                                }
                                        }
                                    </ul>
                                    <h5><a href="../Home/Icerik?text=@item.Product.idName">@item.Product.isim</a></h5>
                                </div>
                            </div>
                        </div>
                    }
                    </div>
            </div></div>
        </div>
        </div>
</section>
<!-- Product Section End -->