@model FilmSitesi.Models.AllData 
<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            @foreach (var item in Model.Slider)
            {
            <div class="hero__items set-bg" data-setbg="@item.Product.url">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">@item.Product.tur</div>
                            <h2>@item.Product.isim</h2>
                            <p>@item.Product.hakkında</p>
                            <a href="#"><span>Şimdi Oku.</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>
    
<!-- Hero Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="trending__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Çok Oylananlar</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="#" class="primary-btn">Hepsini Gör <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    @foreach(var item in Model.Product)
                    {
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="@item.url">
                                    <div class="ep">Bölüm sayısı</div>
                                    <div class="comment"><i class="fa fa-comments"></i> Yorum Sayısı</div>
                                    <div class="view"><i class="fa fa-eye"></i> Görüntülenme Sayısı</div>
                                </div>
                                <div class="product__item__text">
                                    <ul>
                                        <li>@item.kategori/li>
                                    </ul>
                                    <h5><a href="#">@item.isim</a></h5>
                                </div>
                            </div>
                        </div>
                        
                        </div>
                    }
                </div>
                
                <div class="popular__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Popular Shows</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    @foreach (var item in Model.Product)
                    {
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="@item.url">
                                        <div class="ep">Bölüm sayısı</div>
                                        <div class="comment"><i class="fa fa-comments"></i> Yorum Sayısı</div>
                                        <div class="view"><i class="fa fa-eye"></i> Görüntülenme Sayısı</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>@item.kategori/li>
                                        </ul>
                                        <h5><a href="#">@item.isim</a></h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </div>
                <div class="recent__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>En Son Çıkanlar</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="#" class="primary-btn">Hepsini Gör <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    @foreach (var item in Model.Product)
                    {
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="@item.url">
                                        <div class="ep">Bölüm sayısı</div>
                                        <div class="comment"><i class="fa fa-comments"></i> Yorum Sayısı</div>
                                        <div class="view"><i class="fa fa-eye"></i> Görüntülenme Sayısı</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>@item.kategori/li>
                                        </ul>
                                        <h5><a href="#">@item.isim</a></h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </div>
                </div>
            <div class="live__product">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="section-title">
                            <h4>Filmler</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="btn__all">
                            <a href="#" class="primary-btn">Hepsini Gör <span class="arrow_right"></span></a>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model.Product)
                {
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="@item.url">
                                    <div class="ep">Bölüm sayısı</div>
                                    <div class="comment"><i class="fa fa-comments"></i> Yorum Sayısı</div>
                                    <div class="view"><i class="fa fa-eye"></i> Görüntülenme Sayısı</div>
                                </div>
                                <div class="product__item__text">
                                    <ul>
                                        <li>@item.kategori/li>
                                    </ul>
                                    <h5><a href="#">@item.isim</a></h5>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>
            </div>
        </div>
</section>
<!-- Product Section End -->