@model IEnumerable<FilmSitesi.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class=card>
    <div class="card-body">
        <table class="table-dark table-sm">  
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.kadi)  
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sifre)  
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rol)  
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isim)  
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dogumTarihi)  
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cinsiyet)  
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.kadi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sifre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dogumTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cinsiyet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>



                <td><a class="btn btn-success" asp-action="Edit" asp-route-id="@item.id">Edit</a></td>
                <td><a class="btn btn-primary" asp-action="Details" asp-route-id="@item.id">Details</a></td>
                <td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id">Delete</a></td>

            </tr>
                
            }
        </tbody>
        </table>
    </div>
</div>